Part 4

For part 4 of the project, you will be using your MySQL database from part 3 to answer meaningful questions for your stakeholder. They want you to use your hypothesis testing and statistics knowledge to answer 3 questions about what makes a successful movie.

Questions to Answer

The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

They want you to perform a statistical test to get a mathematically-supported answer.
They want you to report if you found a significant difference between ratings.
If so, what was the p-value of your analysis?
And which rating earns the most revenue?
They want you to prepare a visualization that supports your finding.

It is then up to you to think of 2 additional hypotheses to test that your stakeholder may want to know.

Some example hypotheses you could test:

Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?

Do movies released in 2020 earn less revenue than movies released in 2018?

How do the years compare for movie ratings?

Do some movie genres earn more revenue than others?

Are some genres higher rated than others?
etc.

Specifications

Your Data

A critical first step for this assignment will be to retrieve additional movie data to add to your SQL database.

You will want to use the TMDB API again and extract data for additional years.
You may want to review the optional lesson from Week 1 on "Using Glob to Load Many Files" to load and combine all of your API results for each year.
However, trying to extract the TMDB data for all movies from 2000-2022 could take >24 hours!

To address this issue, you should EITHER:
Define a smaller (but logical) period of time to use for your analyses (e.g., last 10 years, 2010-2019 (pre-pandemic, etc).

OR coordinate with cohort-mates and divide the API calls so that you can all download the data for a smaller number of years and then share your downloaded JSON data.


Deliverables

You should use the same project repository you have been using for Parts 1-3 (for your portfolio).

Create a new notebook in your project repository just for the hypothesis testing (like "Part 4 - Hypothesis Testing.ipynb")

Make sure the results and visualization for all 3 hypotheses are in your notebook.
Please submit the link to your GitHub repository for this assignment.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from scipy import stats

import warnings
warnings.filterwarnings('ignore')

<font size="5">Connect to TMDB through API using JSON<font>

In [2]:
#Load API Credentials
import json
with open('/Users/benjaminengel/Documents/.Secret/tmdb_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['API Key'])

In [3]:
#Install tqdm
!pip install tqdm

Requirement already satisfied: tqdm in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (4.64.1)

In [4]:
# Install tmdbsimple
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: requests in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2022.9.24)

In [5]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['API Key']

In [6]:
import os
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2010.json',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2010.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_2017.json',
 'untitled.txt',
 'tmdb_api_results_2018.json',
 'final_tmdb_data_2019.csv.gz',
 'tmdb_api_results_2014.json',
 'final_tmdb_data_2015.csv.gz',
 'tmdb_api_results_2015.json',
 'final_tmdb_data_2017.csv.gz',
 'tmdb_api_results_2019.json',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'final_tmdb_data_2013.csv.gz',
 'tmdb_api_results_2012.json',
 'title_akas.csv.gz',
 'tmdb_results_combined.csv.gz',
 'tmdb_api_results_2013.json',
 'final_tmdb_data_2011.csv.gz',
 'title_ratings.csv.gz']

In [7]:
basics=pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
81835,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
81836,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
81837,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
81838,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
81839,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [8]:
akas=pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0
...,...,...,...,...,...,...,...,...
1449095,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0.0
1449096,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0.0
1449097,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0.0
1449098,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0.0
1449099,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0.0

In [9]:
ratings=pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings

           tconst  averageRating  numVotes
0       tt0000001            5.7      1982
1       tt0000002            5.8       265
2       tt0000005            6.2      2622
3       tt0000006            5.1       182
4       tt0000007            5.4       820
...           ...            ...       ...
502719  tt9916200            8.1       230
502720  tt9916204            8.2       264
502721  tt9916348            8.3        18
502722  tt9916362            6.4      5403
502723  tt9916428            3.8        14

[502724 rows x 3 columns]

In [10]:
#From the LP
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [11]:
def get_movie_with_rating(movie_id):
    """Copied from Coding Dojo Learning Platform"""
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
    
    return info

In [12]:
#Make object for years needed.
YEARS_TO_GET = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]

In [13]:
#Make object for Errors.
errors = []

In [14]:
from tqdm import tqdm_notebook
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):

    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]



    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    #Save the year's results as csv.gz file
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz",
                         compression="gzip", index=False)

#Print number of errors
print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/10 [00:00<?, ?it/s]

Movies from 2010:   0%|          | 0/1139 [00:00<?, ?it/s]

Movies from 2011:   0%|          | 0/1208 [00:00<?, ?it/s]

Movies from 2012:   0%|          | 0/1203 [00:00<?, ?it/s]

Movies from 2013:   0%|          | 0/1162 [00:00<?, ?it/s]

Movies from 2014:   0%|          | 0/1151 [00:00<?, ?it/s]

Movies from 2015:   0%|          | 0/1219 [00:00<?, ?it/s]

Movies from 2016:   0%|          | 0/1177 [00:00<?, ?it/s]

Movies from 2017:   0%|          | 0/1195 [00:00<?, ?it/s]

Movies from 2018:   0%|          | 0/1101 [00:00<?, ?it/s]

Movies from 2019:   0%|          | 0/977 [00:00<?, ?it/s]

- Total errors: 11532

In [15]:
data2010 = pd.read_csv('Data/final_tmdb_data_2010.csv.gz')
data2011 = pd.read_csv('Data/final_tmdb_data_2011.csv.gz')
data2012 = pd.read_csv('Data/final_tmdb_data_2012.csv.gz')
data2013 = pd.read_csv('Data/final_tmdb_data_2013.csv.gz')
data2014 = pd.read_csv('Data/final_tmdb_data_2014.csv.gz')
data2015 = pd.read_csv('Data/final_tmdb_data_2015.csv.gz')
data2016 = pd.read_csv('Data/final_tmdb_data_2016.csv.gz')
data2017 = pd.read_csv('Data/final_tmdb_data_2017.csv.gz')
data2018 = pd.read_csv('Data/final_tmdb_data_2018.csv.gz')
data2019 = pd.read_csv('Data/final_tmdb_data_2019.csv.gz')

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [16]:
df = pd.concat([ratings, akas, data2010, data2011, data2012, data2013, data2014, data2015, data2016, data2017, data2018, data2019])
df.head()

NameError: name 'data2011' is not defined

**Question 1: Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?**

Null Hypothesis: There is no difference in movie revenue based on the movie's MPAA rating.

Alternative Hypothesis: There is a difference in movie revenue depending on the movies MPAA rating.

In [ ]:
#Making two dataframe for "MPAA" and for "revenue"
g_df = df.loc[df['']=='',:].copy()
pg_df = df.loc[df['']=='',:].copy()
pg13_df = df.loc[df['']=='',:].copy()
r_df = df.loc[df['']=='',:].copy()
#Define our feature of interest

**Size of the two groups.**

In [ ]:
print(f'{len()}')
print(f' {len()}')

**Testing Assumptions**

In [ ]:
#Check for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

**No outliers in **

In [ ]:
#Check for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

In [ ]:
#Looping out all the outliers
while np.sum(outliers) > 0 and len(outliers)> 0:
     = [(np.abs(stats.zscore()) < 3)]
    zscores= stats.zscore()
    outliers = abs(zscores)>3
    np.sum(outliers)

In [ ]:
#Recheck for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

**Normality**

In [ ]:
#Test the  group for normality
 = stats.normaltest()

 are not normally distributed. The samples sizes is large enough to not need to be normally distributed.

**Equal Variance**

In [ ]:
#Test for equal variance
result = stats.levene(, )
result

In [ ]:
Variances is not equal. We'll have to put "equal_var = False" when performing our t-test.

In [ ]:
Perform and evaluate the t-test

In [ ]:
result = stats.ttest_ind(, , equal_var = False)
result

Our p-value < alpha (0.05). I reject the null hypothesis and accept that there is a significant difference between smoker and non-smoker insurance charges.

**Supporting Visualization**

In [ ]:
ax = sns.barplot(x=['',''], y=[.mean(),.meanc()])
ax.bar_label(ax.containers[0])
plt.title(' Mean vs.  Mean Charges');

**Question 2: Do movies released in 2011 earn less revenue than movies released in 2019?**

Null Hypothesis: There is no difference in movie revenue based on the movies release date. 2011 vs 2019.

Alternative Hypothesis: There is a difference in movie revenue depending on the movies release date. 2011 vs 2019.

In [ ]:
#Making two dataframe for "2011" and for "2019"
g_df = df.loc[df['']=='',:].copy()
pg_df = df.loc[df['']=='',:].copy()
pg13_df = df.loc[df['']=='',:].copy()
r_df = df.loc[df['']=='',:].copy()
#Define our feature of interest

**Size of the two groups.**

In [ ]:
print(f'{len()}')
print(f' {len()}')

Testing Assumptions

In [ ]:
#Check for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

**No outliers in **

In [ ]:
#Check for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

In [ ]:
#Looping out all the outliers
while np.sum(outliers) > 0 and len(outliers)> 0:
     = [(np.abs(stats.zscore()) < 3)]
    zscores= stats.zscore()
    outliers = abs(zscores)>3
    np.sum(outliers)

In [ ]:
#Recheck for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

Normality

In [ ]:
#Test the  group for normality
 = stats.normaltest()

 are not normally distributed. The samples sizes is large enough to not need to be normally distributed.

Equal Variance

In [ ]:
#Test for equal variance
result = stats.levene(, )
result

Variances is not equal. We'll have to put "equal_var = False" when performing our t-test.

Perform and evaluate the t-test

In [ ]:
result = stats.ttest_ind(, , equal_var = False)
result

Supporting Visualization

In [ ]:
ax = sns.barplot(x=['',''], y=[.mean(),.meanc()])
ax.bar_label(ax.containers[0])
plt.title(' Mean vs.  Mean Charges');

**Question 3: Do Do some movie genres earn more revenue than others?**

Null Hypothesis: There is no difference in movie revenue based on the movies genre.

Alternative Hypothesis: There is a difference in movie revenue depending on the movies genre.

In [ ]:
#Making two dataframe for "2011" and for "2019"
g_df = df.loc[df['']=='',:].copy()
pg_df = df.loc[df['']=='',:].copy()
pg13_df = df.loc[df['']=='',:].copy()
r_df = df.loc[df['']=='',:].copy()
#Define our feature of interest

**Size of the two groups.**

In [ ]:
print(f'{len()}')
print(f' {len()}')

Testing Assumptions

In [ ]:
#Check for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

**No outliers in **

In [ ]:
#Check for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

In [ ]:
#Looping out all the outliers
while np.sum(outliers) > 0 and len(outliers)> 0:
     = [(np.abs(stats.zscore()) < 3)]
    zscores= stats.zscore()
    outliers = abs(zscores)>3
    np.sum(outliers)

In [ ]:
#Recheck for outliers in 
zscores= stats.zscore()
outliers = abs(zscores)>3
np.sum(outliers)

Normality

In [ ]:
#Test the  group for normality
 = stats.normaltest()

 are not normally distributed. The samples sizes is large enough to not need to be normally distributed.

Equal Variance

In [ ]:
#Test for equal variance
result = stats.levene(, )
result

Variances is not equal. We'll have to put "equal_var = False" when performing our t-test.

Perform and evaluate the t-test

In [ ]:
result = stats.ttest_ind(, , equal_var = False)
result

Supporting Visualization

In [ ]:
ax = sns.barplot(x=['',''], y=[.mean(),.meanc()])
ax.bar_label(ax.containers[0])
plt.title(' Mean vs.  Mean Charges');